<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Author</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<div th:insert="fragments/header :: header"></div>

<div class="container my-5">

    <div class="card">
        <div class="card-body">

            <h3>Update Author</h3>

            <form th:action="@{/save-update-author/{id}(id=${author.id})}"
                  th:object="${author}"
                  method="post">

                <!-- Hidden ID -->
                <input type="hidden" th:field="*{id}">

                <!-- Author Name -->
                <div class="mb-3">
                    <label class="form-label">Author Name</label>
                    <input type="text"
                           th:field="*{name}"
                           class="form-control"
                           placeholder="Enter author name">
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea th:field="*{description}"
                              class="form-control"
                              rows="4"
                              placeholder="Enter description"></textarea>
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Update Author
                </button>

                <a th:href="@{/authors}"
                   class="btn btn-secondary ms-2">
                    <i class="fas fa-times"></i> Cancel
                </a>

            </form>

        </div>
    </div>

</div>

</body>
</html>